body {
    min-width: 100%;
    color: #333;
}

body header {
    left: 0px;
    right: 0px;
    display: grid;
    height: 50px;
    max-width: 100%;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;    ;
    border: 1px solid #ccc;
    align-items: center;
}

.header-svg {
   justify-self: center;
}

body header svg {
    height: 25px;
    width: auto;
    justify-self: center;
}

.header-icons {
    align-self: center;
}

.header-icons #bars-icon {
    padding: 0px 20px;    
}

.header-buttons {
    justify-self: end;
    align-content: center;
}

body .blue-buttons {
    background-color: rgb(86, 123, 149);
    border-radius: 2px;
    color: #fff;
    border: 1px solid rgb(50, 104, 145);
    font-size: 11px;
    padding: 8px;
    font-weight: bold;

}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main article .section-1 {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main article h1 {
    display: block;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-size: 38px;
    font-weight: 700;
    font-style: italic;
    margin-top: 60px;
    line-height: 45px;
}

main article section img {
    width: 1200px;
    margin-top: 30px;
}

main article section .main-picture-description {
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    color: #666;
}

main article section .main-picture-credentials {
    display: inline-block;
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 12px;
}
.section-2 {
    width: 40%;
    position: relative;
    margin-bottom: 30px;
}

.section-2-header {
    margin: 20px 0px;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-weight: bold;
}

.section-2-header h4 a {
    color: black;
}

.section-2-header h4 a:hover {
    color: black;
    text-decoration: none;
}

.section-2-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.section-2-title p {
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 0.8125rem;
}

.section-2-icons {
    display: flex;
}

.section-2-icons li {
    margin-left: 10px;
}

.grey-background-buttons {
    background-color: #eee;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
}

.share-comment-buttons {
    width: 35px;
    height: 35px;
    border: none;
    font-size: 25px;
    background-color: white;
}

.article-text {
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1.35rem;
    line-height: 1.875rem;
}

.mid-text-advertisement {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: bold;
    line-height: 1.1rem;
}

.mid-text-advertisement a {
    color: #326891;
    text-decoration: none;
}

.short-decoration-line {
    border-top: 1px gray solid;
    width: 70px;
    margin: 20px 0;
}

.article-text a {
    color: #326891;
}

.article-text a:hover {
    color: #326891;
    text-decoration: none;
}

body h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.editor-pick {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 50%;
    bottom: auto;
    right: -45%;
    width: 220px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: bold;
    line-height: 1.1rem;
}

.editor-pick h2 {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: small;
    color: black;
}

.editor-pick hr {
    width: 220px;
    color: #ccc;
}

.editor-pick-section {
    width: 100%;
}

.editor-pick-section img {
    height: 70px;
    width: 70px;
    float: left;
}

.editor-pick-section p {
    font-family: nyt-cheltenham-small, georgia, "times new roman";
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: rgb(51, 51, 51);
    float: right;
    width: 50%;
}

.section-3 {
   width: 960px;
}

.section-3-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 5px;
}

.section-3-header h2 {
    font-weight: bold;
    font-family: nyt-cheltenham,georgia,times new roman,times,serif;
    line-height: 20px;
}
.section-3-grid div img {
    max-height: 100px;
    width: auto;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
}

.section-3-grid span {
    font-weight: bold;
    font-size: 14px;
   
}
.inflation-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3-footer {
    margin-top: 50px;
}

.section-3-footer hr  {
    width: 10%;
    display: block;
    float: left;
}

.section-3-footer p {
    display: block;
    float: left;
    font-family: nyt-franklin,arial,helvetica,sans-serif;
    font-size: 14px;
}

.section-4 {
    width: 40%;
    margin: 30px 0;
}

.section-4 iframe {
    width: 100%;
    height: 350px;
    border: none;
    margin-top: 30px;
}

body .video-image-description {
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 30px;
}

body .video-image-description span {
    color: #666;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 0.8rem;
    line-height: 1.25rem;
}

.main-picture-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.main-picture-2 img {
    width: 100%;
}

.section-5 {
    width: 40%;
}

.article-footer-toptext {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    color: rgb(102, 102, 102);
    font-size: 0.75rem;
    line-height: 1rem;
}

.article-footer-toptext a {
    color: rgb(102, 102, 102);
}

.article-footer {
    margin: 20px 0 60px 0;
}

.article-footer-text a:hover {
    color: rgb(102, 102, 102);
    text-decoration: none;
}

.article-footer-buttons-right {
    display: flex;
    float: right;
}

.article-footer-buttons-left {
    float: left;
}

.clear {
    clear: both;
}